<div class="second_root centerDefault appWindow">
    <form [formGroup]="user" class="loginForm" (keyup.enter)="login()">
    <!-- <form [formGroup]="user" class="loginForm" (submit)="login()"> -->
        <mat-form-field class="input" appearance="outline"><mat-label>nombre</mat-label><input matInput formControlName="name"></mat-form-field>
        <mat-form-field class="input" appearance="outline"><mat-label>apellido</mat-label><input matInput formControlName="surname"></mat-form-field>
        <mat-form-field class="input" appearance="outline"><mat-label>contraseña</mat-label><input matInput type="password" formControlName="password"></mat-form-field>
    </form>
</div>

<!--
<form [formGroup]="forma" class="login" (ngSubmit)="logincomponent()" >
    <mat-form-field class="dato" appearance="outline">
        <mat-label>usuario</mat-label>
        <input  matInput
                formControlName="usuario">
    </mat-form-field>
    <mat-form-field class="dato" appearance="outline">
        <mat-label>contraseña</mat-label>
        <input  matInput
                type="password"
                formControlName="pass">
    </mat-form-field>
    <p *ngIf="advertencia" class="advertencia"> Usuario/Contraseña incorrectos </p>
    <button mat-raised-button color="primary">Iniciar sesión</button>
</form>
-->