<div class="fourth_root centerDefault appWindow">
    <form       [formGroup]="digimonChoose" (keyup.enter)="login()" >
        <input  formControlName="digimon"
                [ngClass]="{'errorInForm':digimonChoose.controls['digimon'].errors}"
                [typeahead]="formAsyncValidators.digiCheckName"
                [typeaheadOptionsLimit]="10"
                [typeaheadMinLength]="0"
                placeholder="Typeahead inside a form"
                class="form-control">
    </form>
    <pre>{{digimonChoose.controls['digimon'].errors|json}}</pre>
</div>